<?xml version="1.0"?>
<launch>
    <param name="/head_kinect/driver/z_offset_mm" type="double" value="10.0" />
    <include file="$(find freenect_launch)/launch/freenect.launch">
        <arg name="camera" value="head_kinect" />
        <arg name="depth_registration" default="true" />
    </include>
</launch>

