<?xml version="1.0"?>
<launch>

	<!-- upload robot description -->
	<include file="$(find velma_description)/launch/upload_robot.launch" />

	<group>
		<!-- start robot_state_publisher -->
		<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

		<!-- startup hardware -->
		<include file="$(find velma_controller)/launch/velma_controler.launch" >
                    <arg name="HEAD_JOY" value="false" />
                </include>
		<include file="$(find barrett_hand_controller)/launch/single_hand.launch" >
                    <arg name="PREFIX" value="left"/>
                    <arg name="DEVICE" value="rtcan1"/>
                </include>
		<include file="$(find barrett_hand_controller)/launch/single_hand.launch" >
                    <arg name="PREFIX" value="right"/>
                    <arg name="DEVICE" value="rtcan2"/>
                </include>
	</group>

</launch>

